body {
    background-color:chartreuse;
}
h1 {
    color: darkblue;
    background-color: cornsilk;

}
#show_sketch {
    float : right;
}
 canvas 
 {
    border :5px solid white ;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count:infinite ;
    margin-top: 50px;
}
@keyframes example 
{
    from{box-shadow : 1px 1px 38px grey}
    to{ box-shadow:  1px 1px 38px white;}
}

p 
{
    padding-top: 10px;
    font-size: 25px;
    
}

#quickdraw
{
    color: darkred;
}
#score
{
    font-size: 20px;
    float:left;
}
#timer
{
    font-size: 20px;
    float:right;
}